
.title{
  font-family: 'Orbitron', sans-serif;
  color:white;
  font-size:5em;
  position:relative;
  width:600px;
  margin: 0 1em;
  border-bottom: 1px solid rgba(179,182,183,.15);
}

.title-2 {
    font-family: 'Orbitron', sans-serif;
    color:white;
    font-size:2em;
    position:relative;
    left: 10em;
    text-shadow:-2px 2px rgb(218, 91, 112);
}

@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.title:after{
  content:attr(data-text);
  position:absolute;
  left:2px;
  text-shadow:-1px 0 rgb(218, 91, 112);
  top:0;
  color:white;
  background:#020202;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 5s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(100)+px,9999px,random(100)+px,0);
    }
  }
}
.title:before{
  content:attr(data-text);
  position:absolute;
  left:-2px;
  text-shadow:1px 0 aqua; 
  top:0;
  color:white;
  background:#020202;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 6s infinite linear alternate-reverse;
}

@media only screen and (max-width: 414px) {

  .title{
    font-size:4em;
    position:relative;
    width:300px;
    margin: 0 1em;
    border-bottom: 1px solid rgba(179,182,183,.15);
  }
  
  .title-2 {
      font-size:2em;
      position:relative;
      left: 5em;
  }
  
}

@media only screen and (max-width: 375px) {

  .title{
    font-size:3em;
    position:relative;
    width:250px;
  }
  
  .title-2 {
    font-size:1.5em;
    left: 5em;
  }
  
}