@import url('https://fonts.googleapis.com/css?family=Orbitron|Raleway:300,300i');


body {
  background-color: #020202;
  font-family: 'Raleway', sans-serif;
  background-image: url(./Components/tunnel.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 600px;
  font-size: 1em;
}

nav {
  height: 100%;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid rgba(179,182,183,.15);
}

.nav a {
  text-decoration: none;
  font-size: .9em;
  color: rgb(218, 91, 112);
  text-shadow:1px 0 aqua;
}

.nav a:hover {
  color: white;
  text-shadow: none;
}

.nav ul {
  padding: 1em .5em;
}

.nav li {
  list-style-type: none;
  padding: 0.6em;
  width: .7em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}

.logo {
  width: 50%;
}

.quote-box{
  position: fixed;
  color: white;
  right: 0;
  bottom: 0;
  width: 300px;
  height:500px;
  padding:10px;
  border-left: 1px dotted rgba(179,182,183,.20);
  border-top: 1px dotted rgba(179,182,183,.20);
}

.quote {
  float: right;
  font-size: .7em;
  color: white;
  width: 300px;
  letter-spacing: .15em;
  padding: 10px;
  border: 1px solid rgba(179,182,183,.15);
  background: radial-gradient( #020202 60%, rgba(255,105,180, .2));
}

.quote::first-letter {
  font-size: 2em;
  font-family: 'Obitron', sans-serif;
  text-shadow:1px 0 aqua;
}

.cite {
  text-transform: uppercase;
  font-size: .7em;
  font-style: italic;
  color: aqua;
}

.main {
  color: white;
  position: relative;
  height: 500px;
  width: 550px;
  left: 70px;
  right: 0px;
  top: 20px;
  font-size: .8em;
  letter-spacing: .15em;
}

.tag {
  text-transform: lowercase;
  font-size: .7em;
  font-style: italic;
  color:  rgba(0,255,255,.25);
}

.tag-text {
  position: relative;
  left: 40px;
}


.work-container {
  border: 1px solid rgba(179,182,183,.15);
  margin: 10px;
  background: radial-gradient( #020202 80%, rgba(255,105,180, .2));
}

.work-img {
  display: block;
  padding: 10px;
  width: 400px;
  margin: auto;
}

.work-desc {
  width: 400px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(179,182,183,.15);
}

.work-link {
  width: 20px;
}

.work-link-container {
  text-align: center;
  padding-bottom: 10px;
}

.work-link-container a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  text-shadow:1px 0 aqua;
}

.about-img {
  float: left;
  height: 150px;
  border-radius: 15px 5px;
  padding-right: 10px;
}

.contact a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  text-shadow:1px 0 aqua;
}

.contact a:hover {
  color: white;
  text-shadow: none;
}

.contact ul {
  padding: 1em .5em;
}

.contact li {
  list-style-type: none;
  padding: 0.6em;
  width: .1em;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {

  body {
  background-size: 400px;
  }

  .main {
    height: auto;
    width: 360px;
    margin: 0;
  }

  .container {
    width: 690px;
    background-color: #020202;
  }
  
  .work-img {
    width: 600px;
  }
  
  .work-desc {
    width: 600px;
  }
  
  .work-link {
    width: 20px;
  }

  .work-link-container a {
    font-size: .7em;
  }

  .about-container {
    width: 325px;
  }
  
  .about-img {
    height: 100px;
  }

  .contact {
    width: 325px;
  }
}

@media only screen and (max-width: 411px) {

   body {
    width: 375px;
    background-image: none;
  }
  
  .quote-box{
    display: none;
  }

  .tag-text {
    width: 250px;
  }

  .work-container {
    width: 300px;
  }
  
  .work-img {
    width: 250px;
  }
  
  .work-desc {
    width: 250px;
  }
  
  .work-link {
    width: 10px;
  }

  .about-container {
    width: 325px;
  }
  
  .about-img {
    height: 100px;
  }
}

@media only screen and (max-width: 414px) {

  body {
   width: 375px;
   background-image: none;
 }
 
 .quote-box{
   display: none;
 }

 .tag-text {
   width: 250px;
 }

 .work-container {
   width: 300px;
 }
 
 .work-img {
   width: 250px;
 }
 
 .work-desc {
   width: 250px;
 }
 
 .work-link {
   width: 10px;
 }

 .about-container {
   width: 325px;
 }
 
 .about-img {
   height: 100px;
 }
}

@media only screen and (max-width: 375px) {

  body {
    width: 375px;
    background-image: none;
  }
  
  .quote-box{
    display: none;
  }
  
  .main {
    height: auto;
    width: 360px;
  }

  .tag-text {
    width: 250px;
  }

  .work-container {
    width: 250px;
  }
  
  .work-img {
    width: 225px;
  }
  
  .work-desc {
    width: 225px;
  }
  
  .work-link {
    width: 10px;
  }

  .work-link-container a {
    font-size: .7em;
  }

  .about-container {
    width: 275px;
  }
  
  .about-img {
    height: 100px;
  }

  .contact {
    width: 300px;
  }
}