@import url('https://fonts.googleapis.com/css?family=Orbitron|Raleway:300,300i');

html, body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-color: #020202;
  font-family: 'Raleway', sans-serif;
  background-image: url(./Components/tunnel.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right bottom;
  background-size: 40%;
  font-size: 1.4vw;
}

nav {
  height: 100%;
  width: 4%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  border-right: 1px solid rgba(179,182,183,.15);
}

.nav a {
  text-decoration: none;
  font-size: 1em;
  color: rgb(218, 91, 112);
  text-shadow:1px 0 aqua;
}

.nav a:hover {
  color: white;
  text-shadow: none;
}

.nav ul {
  padding: 1em .5em;
}

.nav li {
  list-style-type: none;
  padding: 0.6em;
  width: .7em;
  word-wrap: break-word;
  text-align: center;
  text-transform: uppercase;
}

.quote-box{
  position: absolute;
  color: white;
  right: 0px;
  bottom: 0px;
  width: 25%;
  height:75%;
  padding:10px;
  border-left: 1px dotted rgba(179,182,183,.20);
  border-top: 1px dotted rgba(179,182,183,.20);
}

.quote {
  float: right;
  font-size: 1vw;
  color: white;
  width: 100%;
  letter-spacing: .15em;
  padding: 10px;
  border: 1px solid rgba(179,182,183,.15);
  background: radial-gradient( #020202 60%, rgba(255,105,180, .2));
}

.quote::first-letter {
  font-size: 2vw;
  font-family: 'Obitron', sans-serif;
  text-shadow:1px 0 aqua;
}

.cite {
  text-transform: uppercase;
  font-size: .9vw;
  font-style: italic;
  color: aqua;
}

.main {
  color: white;
  position: relative;
  height: 50%;
  width: 50%;
  left: 5%;
  top: 20px;
  font-size: 1vw;
  letter-spacing: .15em;
  margin: 1%;
  background-color: #020202;
}

.tag {
  text-transform: lowercase;
  font-size: 1vw;
  font-style: italic;
  color:  rgba(0,255,255,.25);
}

.tag-text {
  position: relative;
  left: 40px;
}


.work-container {
  border: 1px solid rgba(179,182,183,.15);
  margin: 1%;
  background: radial-gradient( #020202 80%, rgba(255,105,180, .2));
  width: 100%;
}

.work-img {
  display: block;
  padding: 10px;
  width: 90%;
  margin: auto;
}

.work-desc {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  border-top: 1px solid rgba(179,182,183,.15);
}

.work-link {
  width: 3%;
}

.work-link-container {
  text-align: center;
  padding-bottom: 10px;
}

.work-link-container a {
  text-decoration: none;
  color: white;
  font-size: 1.5vw;
  text-shadow:1px 0 rgba(0, 255, 255, .75);
}

.about-img {
  float: left;
  width: 25%;
  border-radius: 15px 5px;
  padding-right: 10px;
}

.contact a {
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  text-shadow:1px 0 aqua;
}

.contact a:hover {
  color: white;
  text-shadow: none;
}

.contact ul {
  padding: 1em .5em;
}

.contact li {
  list-style-type: none;
  padding: 0.6em;
  width: .1em;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 4vw;
  }

  
  nav {
    width: 11%;
  }

  .quote-box {
    display: none;
  }
  
  .main {
    width: 75%;
    left: 13%;
    font-size: 2.5vw;
  }
  
  .tag {
    font-size: 2.5vw;
  }
  
  .tag-text {
    left: 30px;
  }

  .work-container a {
    background-color: #020202;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 414px) {
  body {
    font-size: 4vw;
  }
  
  nav {
    width: 11%;
  }

  .quote-box {
    display: none;
  }
  
  .main {
    width: 75%;
    left: 50px;
    font-size: 2.5vw;
  }
  
  .tag {
    font-size: 2.5vw;
  }
  
  .tag-text {
    left: 30px;
  }

  .work-container a {
    background-color: #020202;
    font-size: 3vw;
  }
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 4vw;
  }
  
  nav {
    width: 11%;
  }

  .quote-box {
    display: none;
  }
  
  .main {
    width: 75%;
    left: 15%;
    font-size: 2.5vw;
  }
  
  .tag {
    font-size: 2.5vw;
  }
  
  .tag-text {
    left: 30px;
    width: 90%;
  }

  .work-container a {
    background-color: #020202;
    font-size: 3vw;
  }
  
}